/* Modal Overlay */
.modal-overlay {
    position: fixed;
   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
}

/* Modal Content */
.modal-content {
    background: #618b93;
    padding: 30px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
    position: relative;
    animation: slideUp 0.4s ease;
}

/* Modal Photo */
.modal-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #ccc0c0; /* Blue border around photo */
}

/* Close Button */
.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.close-button:hover {
    color: #66c4c2; /* Red color on hover */
}

/* Modal Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}

/* LinkedIn Button */
/* LinkedIn Button */
.linkedin-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0077b5; /* LinkedIn blue color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.linkedin-button:hover {
    background-color: #005582; /* Darker blue on hover */
}

