.gallery-container {
  margin-top: 130px;
  padding: 100px;
  text-align: center;
  position: relative;
}

.gallery-carousel {
  width: 90%;
  margin: 0 auto;
}

.gallery-slide img {
  width: 300px;
  height: 300px; /* Increased height for larger images */
  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  transition: transform 0.3s ease, z-index 0.3s ease;
  position: relative;
  z-index: 1;
}

.gallery-slide img:hover {
  transform: scale(1.1);
  z-index: 2;
}

.gallery-container h2 {
  font-family: Arial, sans-serif;
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

/* Background Video */
.gallery-bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
  .gallery-container {
    margin-top: 80px;
    padding: 50px;
  }

  .gallery-carousel {
    height: auto;
  }

  .gallery-slide img {
    height: 300px; /* Adjust height for smaller screens */
  }

  .gallery-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

/* Media Query for Extra Small Screens (e.g., phones under 480px) */
@media (max-width: 480px) {
  .gallery-container {
    padding: 30px;
  }

  .gallery-slide img {
    height: 250px; /* Further adjust height for very small screens */
    
    border-radius: 8px;
  }

  .gallery-slide img:hover {
    transform: scale(1.8);
  }
}

